<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>External template</title>
  </head>
  <body>
    <form id="login_form" action="/question" method="post">
      <label for="user">User:</label>
      <input type="text" name="user" id="user_id" value="" tabindex="1" required>
      <label for="pass">Password:</label> 
      <input type="password" name="pass" id="pass_id" tabindex="2" required>
      <input type="submit" value="Log In" id="submit" tabindex="3">
    </form>  
  </body>
</html>

