<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>External template</title>
  </head>
  <body>
    <%= form method: :post, action: '/number' %>
    <%= form method: :get, action: '/number' %>
    <%= form method: :put, action: '/number' %>
    <%= submit "Enviar" %>
  </body>
</html>

